{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <p><button class="button"><a href="{% url 'upload' %}">Submit project</a></button></p>
    {% for pro in all_projects %}
        <p> {{pro.title}} </p>
        <p> {{pro.description}} </p>
        <p> <small>{{pro.posted_date|timesince}}</small> </p>
        <p><a href="{{pro.link}}" target="_blank" >Project Link</a></p>
        <video width='400' controls>
            <source src='{% static "pro.videofile.mp4" %}' type='video/mp4'>
            Your browser does not support the video tag.
        </video>
    {% endfor %}  
</div>
        
       
</body>
</html>
{%endblock%}
