{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <p><button class="button"><a href="{% url 'upload' %}">Submit project</a></button></p>
    {% for pro in all_projects %}
        <h5> {{pro.title}} </h5>
        <h5>By {{pro.description}} </h5>
        <h5> <small>{{pro.posred_date|timesince}}</small> </h5>
        
    {% endfor %}  
</div>
        
       
</body>
</html>
{%endblock%}
